{{- /* Renders one reading event (from reading_events.html) into the body
       variants reading.rss.xml needs: plain (for <description>) and html
       (for <content:encoded>). Takes the event dict as context, returns
       dict(action, plain, html). */ -}}
{{- $e := . -}}
{{- $action := cond (eq $e.event_type "started") "Started reading" "Finished reading" -}}

{{- $plainBody := printf "%s: %s" $action $e.title -}}
{{- with $e.author }}{{- $plainBody = printf "%s by %s" $plainBody . -}}{{- end -}}
{{- $plainBody = printf "%s. 📚" $plainBody -}}
{{- with $e.notes }}{{- $plainBody = printf "%s %s" $plainBody . -}}{{- end -}}

{{- $linkedTitle := $e.title | htmlEscape -}}
{{- if and (eq $e.type "book") $e.isbn }}
  {{- $linkedTitle = printf "<a href=%q>%s</a>" (printf "https://micro.blog/books/%s" $e.isbn) $linkedTitle -}}
{{- else if $e.url }}
  {{- $linkedTitle = printf "<a href=%q>%s</a>" $e.url $linkedTitle -}}
{{- else if $e.doi }}
  {{- $linkedTitle = printf "<a href=%q>%s</a>" (printf "https://doi.org/%s" $e.doi) $linkedTitle -}}
{{- end -}}
{{- $htmlBody := printf "%s: %s" $action $linkedTitle -}}
{{- with $e.author }}{{- $htmlBody = printf "%s by %s" $htmlBody (. | htmlEscape) -}}{{- end -}}
{{- $htmlBody = printf "%s. 📚" $htmlBody -}}
{{- with $e.notes }}{{- $htmlBody = printf "%s %s" $htmlBody (. | htmlEscape) -}}{{- end -}}
{{- $html := printf "<p>%s</p>" $htmlBody -}}

{{- return (dict "action" $action "plain" $plainBody "html" $html) -}}
