.DS_Store
.hugo_build.lock
resources/
public/
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache
.obsidian/plugins/*/main.js
.obsidian/plugins/*/data.json
.obsidian/plugins/*/manifest.json
.obsidian/plugins/*/styles.css
.obsidian/plugins/*/obsidian_askpass.sh
!.obsidian/plugins/templater-obsidian/data.json
!.obsidian/plugins/obsidian-linter/data.json
