@media screen and (width <= 768px) {
    /* theme-vars */
    :root {
        --gap: 14px;
    }

    /* post-entry */
    .first-entry {
        min-height: 260px;
    }

}

@media (prefers-reduced-motion) {
    html {
        scroll-behavior: auto;
    }

    /* terms and post entries */
    .terms-tags a:active,
    .post-entry:active {
        transform: none;
    }
}
