.entry-header h2 .link-post-title {
  position: relative;
  z-index: 2;
  color: inherit;
  text-decoration: none;
}

.entry-header h2 .link-post-title:hover {
  text-decoration: underline;
}

.post-title .link-post-title {
  color: inherit;
  text-decoration: none;
  text-wrap: balance;
}

.link-post-arrow {
  color: var(--secondary);
  font-size: 0.7em;
  vertical-align: 0.2em;
  white-space: nowrap;
}

.post-title .link-post-title:hover {
  text-decoration: underline;
}
