{{- $keys := slice -}}
{{- with .Params.cite_key -}}
  {{- if ne (trim . " ") "" -}}
    {{- $keys = $keys | append (trim . " ") -}}
  {{- end -}}
{{- end -}}
{{- with .Params.cite_keys -}}
  {{- if reflect.IsSlice . -}}
    {{- range . -}}
      {{- if ne (trim . " ") "" -}}
        {{- $keys = $keys | append (trim . " ") -}}
      {{- end -}}
    {{- end -}}
  {{- else if ne (trim . " ") "" -}}
    {{- $keys = $keys | append (trim . " ") -}}
  {{- end -}}
{{- end -}}
{{- return ($keys | uniq) -}}
