{{- $entry := . -}}
{{- $relatedPages := slice -}}
{{- with $entry.cite_key }}
  {{- $entryKey := . -}}
  {{- range site.RegularPages }}
    {{- $pageKeys := partialCached "cite_keys.html" . .RelPermalink -}}
    {{- if in $pageKeys $entryKey -}}
      {{- $relatedPages = $relatedPages | append . -}}
    {{- end -}}
  {{- end -}}
{{- end }}
{{- if and (eq (len $relatedPages) 0) (gt (len $entry.related_posts) 0) }}
  {{- range $entry.related_posts }}
    {{- with site.GetPage . }}
      {{- $relatedPages = $relatedPages | append . -}}
    {{- end }}
  {{- end }}
{{- end }}
{{- return $relatedPages -}}
