{{- $headers := findRE "<h[1-6].*?>(.|\n])+?</h[1-6]>" .Content -}}
{{- $has_headers := ge (len $headers) 1 -}}
{{- if $has_headers -}}
<details class="toc">
    <summary accesskey="c" title="(Alt + C)">
        <span class="title">{{- i18n "toc" | default "Table of Contents" }}</span>
    </summary>

    <div class="inner">
        {{- replace .TableOfContents "<nav id=\"TableOfContents\">" "<nav id=\"TableOfContents\" aria-label=\"In this article\">" | safeHTML -}}
    </div>
</details>
{{- end }}
