{{- define "main" }}

{{- $externalURL := .Params.external_url }}

<article class="post-single h-entry{{ with $externalURL }} link-post{{ end }}">
  <a class="u-url" href="{{ .RelPermalink }}" hidden></a>
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title entry-hint-parent p-name">
      {{- with $externalURL }}
      <a class="link-post-title" href="{{ . }}" rel="external noopener" target="_blank">{{ $.Title }}&nbsp;<span class="link-post-arrow" aria-hidden="true">↗</span></a>
      {{- else }}
      {{ .Title }}
      {{- end }}
      {{- if .Draft }}
      <span class="entry-hint" title="Draft">
        <svg xmlns="http://www.w3.org/2000/svg" height="35" viewBox="0 -960 960 960" fill="currentColor">
          <path
            d="M160-410v-60h300v60H160Zm0-165v-60h470v60H160Zm0-165v-60h470v60H160Zm360 580v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T862.09-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z" />
        </svg>
      </span>
      {{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description p-summary">
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- $top := slice }}
      {{- with (partial "author.html" .) }}{{ $top = $top | append (printf "<span class='p-author'>%s</span>" .) }}{{ end }}
      {{- if not .Date.IsZero }}{{ $top = $top | append (printf "<time class='dt-published' datetime='%s' title='%s'>%s</time>" (.Date.Format "2006-01-02T15:04:05Z07:00") .Date (.Date | time.Format (default ":date_long" site.Params.DateFormat))) }}{{ end }}
      {{- delimit $top "&nbsp;-&nbsp;" | safeHTML -}}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := (.Param "cover.hiddenInSingle") | default (.Param "cover.hidden") | default false }}
  {{- partial "cover.html" (dict "cxt" . "IsSingle" true "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- if .Content }}
  <div class="post-content md-content e-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  {{- partial "extend_post_content.html" . }}

  <footer class="post-footer">
    {{- if not (.Param "hideMeta") }}
    {{- $foot := slice }}
    {{- if and (not .Lastmod.IsZero) (not (eq (.Lastmod.Format "2006-01-02") (.Date.Format "2006-01-02"))) }}
      {{- $foot = $foot | append (printf "<span title='%s'>Updated %s</span>" .Lastmod (.Lastmod | time.Format (default ":date_long" site.Params.DateFormat))) }}
    {{- end }}
    {{- if and (.Param "editPost.URL") (not (.Param "editPost.disabled")) }}
      {{- $editURL := .Param "editPost.URL" }}
      {{- if (.Param "editPost.appendFilePath" | default false) }}{{ $editURL = printf "%s/%s" $editURL (path.Join .File.Path) }}{{ end }}
      {{- $editText := .Param "editPost.Text" | default (i18n "edit_post") }}
      {{- $foot = $foot | append (printf "<span><a href=\"%s\" rel=\"noopener noreferrer edit\" target=\"_blank\">%s</a></span>" $editURL $editText) }}
    {{- end }}
    {{- with $foot }}
    <div class="post-meta post-meta-footer">{{ delimit . "&nbsp;·&nbsp;" | safeHTML }}</div>
    {{- end }}
    {{- end }}
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end }}{{/* end main */}}
